.main-content {
  margin: 5rem 2.5rem;
}

/* //auth style */
.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 100%;
  display: block;
}

.form-control input {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1.5rem;
}

.form-actions button,
.btn {
  background: #01d1d1;
  font: inherit;
  border: 1px solid #039a9a;
  border-radius: 5px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.25);
  color: #fff;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: #039a9a;
  border: 1px solid #01d1d1;
}

/* //event page */

.events-control {
  text-align: center;
  border: 1px solid #039a9a;
  max-width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  width: 30rem;
  left: 5%;
}

/* //modal css */
.modal {
  width: 60%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 20vh;
  left: 20%;
  z-index: 100;
}

.modal__header {
  padding: 1rem;
  background: #039a9a;
  color: #fff;
}

.modal__header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.modal__content {
  padding: 2rem;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
@media (min-width: 768) {
  .modal {
    width: 30rem;
    left: calc((100% - 30rem) / 2);
  }
}

/* events list */

.events__list {
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
}

.events__list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #039a9a;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events__list-item h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #039a9a;
}
.events__list-item h2 {
  margin: 0;
  font-size: 1rem;
  color: #595353;
}

.events__list-item p {
  margin: 0;
}

.bookings__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 40rem;
  max-width: 90%;
}

.bookings__item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #039a9a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookings__control {
  text-align: center;
  padding: 0.5rem;
}

.bookings__control button,
.bookings__control button:focus {
  font: inherit;
  border: none;
  background: transparent;
  color: black;
  padding: 0.25rem 1rem;
  outline: none;
  border-bottom: 2px solid rgb(218, 218, 218);
  transition: all ease 400ms;
  cursor: pointer;
}

.bookings__control button.active {
  color: #039a9a;
  border-bottom-color: #039a9a;
}
